*.sublime-workspace
*.sublime-project~

*.acn
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.lof
*.log
*.lol
*.lot
*.out
*.pdf
*.run.xml
*.toc
*.xdy
*.synctex.gz
*.acr
*.alg
*.glg
*.gls
*.synctex.gz(busy)
